# Function  
1) function is block  of code which design performe some task <br>
2) It is user define funtion <br>

### Lets see 
How to define function in python<br>  
The syntax for def statements will be in the following form:

In [2]:
def name_of_function(argi, arg2):
    '''
    This is where the function's Document String (doc-string) goes
    
    '''

    # Do stuff here
    #return desired result

## Example 1: A simple print 'hello' function

In [4]:
def say_hello():         # here i am  not passing any arguments, it is just  simple functin 
    print('This is just a sample')

### Lets call the function

In [6]:
say_hello()

This is just a sample

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [7]:
def greeting(name):
    print('hello',name)
   # print('Hello %s' %name)

In [9]:
greeting('Kundan')

hello Kundan

# Using return
Let's see some examples that use a return statement. Return allows a function to "return" a result that can then be stored as a variable, or used in whatever
manner a user wants.

###  Salary update example

In [12]:
# With Return
def salary_incr(salary):
    if salary <= 9000:
        return (salary + 1000)  # add 1000 if salary  is <=9000
    else:
        return salary

In [13]:
print('Your new salary' ,salary_incr(1500) )

Your new salary 2500

In [4]:
# Without Return

def salary_incr(salary):
    if salary <= 9000:
        (salary + 1000) # without print it will  show none in output, so  retrun is used as explained above 
    else:
        salary

In [5]:
print('Your new salary' ,salary_incr(1500) )

Your new salary None

In [9]:
# Without Return

def salary_incr(salary):
    if salary <= 9000:
        print (salary + 1000) # with print it will  show none in output, so  retrun is used as explained above 
    else:
        print(salary)

In [10]:
print('Your new salary' ,salary_incr(1500) )

2500
Your new salary None

In [24]:
def stud_marks (maths, science, english):
    return (maths + science + english )

In [26]:
print ('Your Total Marks =', stud_marks (55, 65,80) )

Your Total Marks = 200

In [27]:
total_marks = stud_marks (32,30,20)
total_marks

82

In [32]:
total_marks = stud_marks (92,90,80)
if total_marks < 90:
    print (total_marks,'- You are Fail')
elif total_marks >= 90 and total_marks <= 150:
    print (total_marks, 'You are Pass')
elif total_marks >= 151 and total_marks <= 250:
    print (total_marks, 'You are First Class')

#### Similarly you can pass every students marks and find the total and display result

### Let's see how it works in real time
Some one wants to buy used mobile online and vendor needs to display the price of mobile based on make, months old and gb (if applicable)

<u> https://orangebookvalue.com/used-mobiles </u>

In [5]:
def phone_price (phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone 11':
        if 0 < phone_age <= 6:       # If 0 is Less than phone_age AND phone_age is Less than or equal to 6
            if phone_model_GB ==64:
                print('Rs 39,283 - Rs 41,713')
        elif phone_model_GB == 128:
            print('Rs 50,283 - Rs 55,713')
        
        if 6 < phone_age <= 12:        # If 6 is less than phone_age AND phone_age is less than or equal to 6
            if phone_model_GB == 64:
                print('Rs 29,283 - Rs 31,713')
        elif phone_model_GB == 128:
            print('Rs 350043 - Rs 440083')
    elif phone_make == 'Samsung B110':
        if 0 < phone_age <= 6:       # If 0 is Less than phone_age AND phone_age is Less than or equal to 6
            print('Rs 39,283 - Rs 41,713')
    elif phone_age > 6:    
        print('711 -  755')
    else:
        print ('No Stock right now, please visit after few days')

In [6]:
phone_price('Samsung B110', 4, 0)

Rs 39,283 - Rs 41,713

Similarly you can browse any similar sites and write program and practice.

# Lambda function

In [7]:
lambda arguments: expression

In [8]:
add_num= lambda y : y + 30
print (add_num(50))

80

In [9]:
## multiple arguments
multi_num = lambda a, b : a* b
print(multi_num(15,20))

300

Similarly you can have more arguments and work on it.

# args and *kwargs
*arg takes multiple inputs.

In [11]:
def my_fun (*args):
    for i in args:
        print ('my args: - ', i)

In [13]:
my_fun ('India', 56, 'Bengaluru', 30.40,234)

my args: -  India
my args: -  56
my args: -  Bengaluru
my args: -  30.4
my args: -  234


**kwarg take key and value, just like dictionary data

In [11]:
def my_kwargs (**kwargs):
    for key, value in kwargs.items ():
        print (key, value)

In [12]:
my_kwargs(student=['ram' , 'raman' ],marks=[70,75])

student ['ram', 'raman']
marks [70, 75]