# Map:- 
 * The map () is function  that take <font color='#ff00ff'>  two argument </font> : <br>
 * Applies a given function to all iterable & return a new list <br>
 * It takes a function & applies iterable to supply it <br>
 1) function <br>
 2) sequence iterable <br>
 
 In the form : map <font color='#ff00ff'>(function, sequence) </font> <br>
 First  argument is name of the function  <br>
 second argument is sequence (eg.list,set,tuples)

In [3]:
def fahrenheit (T):
    return ((float (9)/5) *T + 32)

def celsius (T):
    return (float(5)/9) * (T-32)

temp = [0, 22.5, 40,100]

In [4]:
F_temps = list (map(fahrenheit, temp))

#Show
F_temps

[32.0, 72.5, 104.0, 212.0]

In [5]:
# Convert back
list (map (celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In [2]:
numbers = ["3", "34", "64"]  # we have converted here string data type into  int data type by using map 
numbers = list (map (int, numbers))

In [4]:
numbers

[3, 34, 64]

In [5]:
def sq (a):   
    return a*a        # square function  
num = [2,3,5,6,76,3,3,2]
square = list (map (sq, num))
print (square)

[4, 9, 25, 36, 5776, 9, 9, 4]

In [6]:
# by using lambda 
num = [2,3,5,6,76,3,3,2]
square = list (map (lambda x: x*x , num))
print (square)

[4, 9, 25, 36, 5776, 9, 9, 4]

In [2]:
def grace_marks (marks):
    if marks ==33:
        return (marks + 2)
    elif marks == 34:
        return (marks + 1)
    else:
        return marks

In [3]:
score = [50,34,32,33,31,35]

In [4]:
Total_marks=list(map(grace_marks,score))

In [5]:
print(Total_marks)

[50, 35, 32, 35, 31, 35]

In [7]:
# Count of students who just passed with marks 35
Total_marks.count(35)

3

# filter()
The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns "True". <br>

The function filter(function (),1) needs a function as its first argument. The function needs to return a Boolean value (either True or False). This function will be <br>
applied to every element of the iterable. Only if the function returns "True" will the element of the iterable be included in the result. <br>
Let's see some examples:

In [9]:
def filter_marks (marks):
    if marks < 35:
        return marks

In [11]:
score = [50,34,32,33,31,35]

In [12]:
failed = list(filter (filter_marks, score))
failed

[34, 32, 33, 31]

# Difference b/w map and filter
Map accepts all elements in a given list and a function can be applied to it.<br>
Filter accepts all data in a list and runs that through a function to create a new list with all elements that returns True in that function. <br>

In [13]:
list (map (lambda var: var%2 == 0, [1,2,3]))

[False, True, False]

In [14]:
list(filter (lambda var: var%2 == 0, [1,2,3]))

[2]