 # <b>Data Types / Structures 
 1) Number<br>
 2) string<br>
 3) List <br>
 4) Tuple<br>
 5) Set<br>
 6) Dictionary<br> 
    <img src="data type.png"  width="950" height="650">

# * <b>1) Number
   ## * <b> 1.1) interges _(int)_

In [2]:
# Variable and data assignment 
# a  = variable 
# 20 = data

a = 20

In [7]:
a

20

In [8]:
# You can also  print explicity (recommended)
print (a)

20

# <b> How to  check  data type ?

In [6]:
type (a)

int

* ##  <b>1.2) Float

In [16]:
# you can assigne, print  and check datatype in same cell
b = 20.0 
print (b)
b
type(b)

20.0

float

# <b> Let's do couple of mathematical opration

In [11]:
a = 10
b = 20

In [12]:
c = a + b
print (c)

30

In [13]:
print (c * 10)

300

* ## <b> 1.3) Complex (_We dont use this in data scince_)

In [14]:
c = 6+2j
type (c)

complex

# <b> string 
     (note string can be written in ' , " ,)

In [18]:
print('Hello World')

Hello World

In [22]:
first_string = ' Python'
Second_string = ' is a power full'
third_string = ' language'

## lets add the strings

In [23]:
print (first_string + Second_string + third_string)

 Python is a power full language

In [26]:
print ('woww ' + 'Python is ' 'easy')

woww Python is easy

## Other operation on strings

In [28]:
print('day ' * 5)

day day day day day

In [29]:
print('day ' + 2)

TypeError: can only concatenate str (not "int") to str

# How to convert number data type into string data type ?
You can convert number into string data type but not viceversa

In [30]:
print ('day ' + str(2))

day 2

In [33]:
# print(int('day ') + 2) ------ This is not allowed , it wil  give the error