# Loops
<img src="loops.png"  width="350" height="350"> <br>
## why to use loops ?
<img src="whyloops.png"  width="750" height="350"> <br>
<img src="loopsex.png"  width="650" height="250"> <br>

## For loop :
 1. A for loop is used for iterating (बार-बार दोहराना) over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).<br>
 2. Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation. <br>

In [1]:
location = ['Bengaluru', 'Noida', 'Chennai', 'Hyderabad', 'Delhi']
print (location)

['Bengaluru', 'Noida', 'Chennai', 'Hyderabad', 'Delhi']

In [3]:
# List of string
location = ['Bengaluru', 'Noida', 'Chennai', 'Hyderabad', 'Delhi']
for i in location:
    print (i)

Bengaluru
Noida
Chennai
Hyderabad
Delhi

In [4]:
salary = [2000, 4000, 5000, 7000, 8000, 4500, 3800]
for val in salary:
    if val> 5500:
        print(val)

7000
8000

In [7]:
student_scores = [35,67,78,79,12,34,67,54,89]
for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print (marks,'- Distinction')
        else:
            print (marks,'- First Class')
    elif marks > 50 and marks <= 60:
        print (marks,'- Second Class')

    elif marks >= 35:
        print (marks,'- Pass')
else:
    print (marks,'- Fail - Better luck next time')

35 - Pass
67 - First Class
78 - Distinction
79 - Distinction
67 - First Class
54 - Second Class
89 - Distinction
89 - Fail - Better luck next time

# List Comprehension
List comprehension is a <font color='#ff00ff'> shorter syntax </font> when you want to create a new list based on the values of an existing list.

In [8]:
salary = [2000, 4000, 5000, 7000, 8000, 4500, 3800]
sal = [val for val in salary if val > 5500]
sal

[7000, 8000]

# for loop with else
A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.<br>
break statement can be used to stop a for loop. In such case, the else part is ignored.<br>
Hence, a for loop's else part runs if no break occurs.<br>
Here is an example to illustrate this.<br>

In [10]:
for num in range (2,5):
    print ('Multiplication table for -', num)
    for i in range (1,11):
        print (num* i)
        if i == 10:
            print ('\n') # next line,break line or gap or space between two line
else:
    print ('*' * 30)
    print ('End of multiplication table') # Else is optional
    print ('*' * 30)

Multiplication table for - 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for - 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for - 4
4
8
12
16
20
24
28
32
36
40


******************************
End of multiplication table
******************************

# While loop
<img src="whileloop.png"  width="750" height="350"> <br>
<img src="whileloops.png"  width="350" height="350"> <br>
1) The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.<br>
2) We generally use this loop when we don't know beforehand, the number of times to iterate.<br>
3) In while loop, test expression is checked first. The body of the loop is entered only if the test_expression evaluates to True. After one iteration, the test<br>
4) expression is checked again. This process continues until the test_expression evaluates to False.<br>
5) In Python, the body of the while loop is determined through indentation.<br>
6) Body starts with indentation and the first unindented line marks the end.<br>
7) Python interprets any non-zero value as True. None and 0 are interpreted as False.<br>

## Let's do this experiment
 * If I ask you to keep saying your name, you keep repeating your name. But how many times?<br>
 * In order to control this repeatation, while loop will comes in place.<br> 
 * Now I will ask you to repeat your name 5 times, then every time you say your name,<br>
 * you keep a count of how many times you repeated. As soon as you finish 5 times you stop counting.<br>
 * So this can be accomplished using while loop. Let's do this in practical.

In [11]:
# If I want to print 10 times my name, I have to write 10 times print statement
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')
print ('Data Trained')

Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained

Isn't it tedious and time consuming task? What if I ask you to print 1000 times. It's very painful right?

In [13]:
# Let's do this using while Loop
i = 0
while i < 10:
    i=i+1
    print (i, 'Data Trained')

1 Data Trained
2 Data Trained
3 Data Trained
4 Data Trained
5 Data Trained
6 Data Trained
7 Data Trained
8 Data Trained
9 Data Trained
10 Data Trained

### One more example
Let's say you have set an alarm and how this works?

In [17]:
import time
result = time.localtime() # . dot is used to connect , note don't use comma ; it is used for separated 
print(result)

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=19, tm_hour=16, tm_min=1, tm_sec=33, tm_wday=6, tm_yday=170, tm_isdst=0)

In [21]:
while True:
    result= time.localtime()
    if result.tm_hour == 16 and result.tm_min == 8:
        print('Wake Up buddy') # instead of print your mobile will play sound
        break

Wake Up buddy

# Difference b/w For and while loop
*  for loop = If you know how many times you want to execute the code then use for loop.
*  While loop = If you dont know how many times you want to execute then use the while with condition. It means you will execute the code if the condition is true only.

# enumerate
enumerate() allows us to iterate through a sequence but it keeps track of <font color='#ff00ff'> both the index and the element. </font>

In [22]:
students = ['Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu']

In [23]:
for name in enumerate (students):
    print (name)

(0, 'Naveen')
(1, 'Rathna')
(2, 'Vivaan')
(3, 'Shridhar')
(4, 'Chintu')
(5, 'Chinnu')

In [24]:
# You can start index from any number
for i, name in enumerate (students, 1):
    print (i, name)

1 Naveen
2 Rathna
3 Vivaan
4 Shridhar
5 Chintu
6 Chinnu

# Zip

In [25]:
students_name = ['Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu']
students_marks = [53,74,62,81,55,86]

In [26]:
student_details = list (zip(students_name, students_marks))

In [27]:
student_details

[('Naveen', 53),
 ('Rathna', 74),
 ('Vivaan', 62),
 ('Shridhar', 81),
 ('Chintu', 55),
 ('Chinnu', 86)]

# Unzip

In [28]:
name, marks_num = zip (*student_details)

In [29]:
name

('Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu')

In [30]:
marks_num

(53, 74, 62, 81, 55, 86)

# Enumerate and zip

In [3]:
students_name = ['Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu']
students_marks = [53,74,62,81,55,86]

In [6]:
for i, (name, marks) in enumerate (zip (students_name, students_marks), 1):
    print (i, name, marks)

1 Naveen 53
2 Rathna 74
3 Vivaan 62
4 Shridhar 81
5 Chintu 55
6 Chinnu 86