In [2]:
print('hello word')

hello word

In [10]:
x=20
y='hello'
print(x)
print(y)

20
hello

In [11]:
print(x,y)

20 hello

In [21]:
#the value of x is = 10
print ('the value of x is =', x)

the value of x is = 20

print(x)

In [17]:
print(type(x))

<class 'int'>

In [19]:
z=10.5
print(type(z))

<class 'float'>

In [20]:
b=True
print(type(b))

<class 'bool'>

In [22]:
#true and falset
t=10,5
print(type(t))

<class 'tuple'>

In [23]:
x= (25,30)
list(x)

[25, 30]

In [24]:
b = list(x)
b

[25, 30]

In [26]:
marks= 100
x=10
while x <= marks:
    x +=10
    print(x)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [33]:
x=[10,20,30,40]
for i in x:
    if i == 30:
        print(i)

30

In [39]:
list(range(21,71,11))

[21, 32, 43, 54, 65]

SyntaxError: cannot assign to literal (2357497523.py, line 1)

In [42]:
list(range(21,63,10))

[21, 31, 41, 51, 61]

In [43]:
list(range(21,69,10))

[21, 31, 41, 51, 61]

In [44]:

list(range(21,71,11))

[21, 32, 43, 54, 65]

In [45]:

list(range(21,70,10))

[21, 31, 41, 51, 61]

In [1]:
2+2

4

In [2]:
salary = (10000,15000,20000)

In [3]:
salary = list(salary)

salary.insert(25000)

salary

TypeError: insert expected 2 arguments, got 1

In [4]:

salary = (10000,15000,20000)

salary = list(salary)

salary.append(25000)

salary = tuple(salary)

print (salary)

(10000, 15000, 20000, 25000)

In [5]:
alary = (10000,15000,20000)

salary.append(25000)

print (salary)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
dct = {'Salary':[10,20,30], 'emp_num':[1,22,333]}

In [8]:
for i in dct.values():

    if i == 30:

        print (i)

In [9]:

for i,j in dct.items():

    if i =='Salary':

        print (i[2])

l

In [10]:

for i,j in dct.items():

    if i =='Salary':

        print (j[2])

30