<font face = "Verdana" size = "5"> ANOVA /(ANalysis Of VAriance)  TEST

<font face = "Verdana" size = "3"> ANOVA is used to compare differences of means among more than 2 groups. It does this by looking at variation in the data and where that variation is found
(hence its name). Specifically, ANOVA compares the amount of variation between groups with the amount of variation within groups.

<font face = "Verdana" size = "3"><br>• Null hypothesis, typically is that, all means are equal.
<font face = "Verdana" size = "3"><br>• The independent variables are categorical.
<font face = "Verdana" size = "3"><br>• Dependent variables are continues.

<font face = "Verdana" size = "4"> What is F score Value...?

<font face = "Verdana" size = "3"> F = Sample means of between groups/sample means of within groups
    <img src="https://raw.githubusercontent.com/patilkundan/images/main/F_score.png"  width="450" height="450">

<font face = "Verdana" size = "3">  Note<br><mark>
    In <b>ttest </b>we figure out<b> Statistics score and p-value</b><br>
    In<b> ANOVA test</b> we will figure out <b>F score/Value and p-value</b>

<img src="https://raw.githubusercontent.com/patilkundan/images/main/anv.png"  width="550" height="650">
<img src="https://raw.githubusercontent.com/patilkundan/images/main/anv1.png"  width="550" height="650">

<font face = "Verdana" size = "3"> Now take Realtime research on human body -

<font face = "Verdana" size = "3">  If different types of drinks (Coffee, Water, Milk, Soda etc) have the same effect (reaction time in the morning) on human body or not?
   <img src="https://raw.githubusercontent.com/patilkundan/images/main/cp.png"  width="150" height="150">

<font face = "Verdana" size = "3"> Null hypothesis - All the drinks average reaction time on humany body is same.<br>
<font face = "Verdana" size = "3"> Alternate hypothesis - All the drinks average reaction time on humany body is NOT same.

<font face = "Verdana" size = "4"><b><font color="#9900FF"> Hypothesis construction</b><br>
<font face = "Verdana" size = "3"><br>The null hypothesis for ANOVA says that, average of dependent variable are same for all the given groups.
<font face = "Verdana" size = "3"><br>Alternate Hypothesis says, mean of dependent variable are not same for the given groups.
<font face = "Verdana" size = "3"><br><mark>Ho: muA = muB = muc
<font face = "Verdana" size = "3"><br>Ha: not all are equal

<font face = "Verdana" size = "3"><b><font color="#303745">Steps</b>
<br>Step 1 Calculate the means/avg of each semester
<br>Step 2 Calculate the grand mean
<br>Step 3 Variations between, within
<br>Step 4 Calculate the mean squared variance of between and within
<br>Step 5 Calcualte F statistics and corrosponding p-value

In [2]:
import statistics as st
import numpy as np
import pandas as pd
from numpy.random import randint as ri

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/patilkundan/datasets/main/Semester%20marks.csv")
df

     Student_ID  Semester  Total_Marks
0             1         1          365
1             2         3          376
2             3         1          411
3             4         3          436
4             5         2          366
..          ...       ...          ...
195         196         1          431
196         197         3          330
197         198         1          311
198         199         1          358
199         200         2          468

[200 rows x 3 columns]

<font face = "Verdana" size = "3">As per ANOVA we need to find continues data based on the categorical variable.
<br>• Total_Marks is continues variable and
<br>• Semester is categorical variable.
<font face = "Verdana" size = "3">
<br>Ho is Average marks of each semester are almost equal.
<br>Ha is all are not equal

In [5]:
import numpy as np
import statsmodels.formula.api as sm
mod=sm.ols('Total_Marks~Semester', data=df).fit()
mod

In [6]:
import statsmodels.api as k
aov_table=k.stats.anova_lm (mod, typ=1)
aov_table

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [7]:
# this will give f score and pr(>f) which means p value 
# this p value is greater than 0.05 which means ho is accepted

<font face = "Verdana" size = "3"> Let's see manually if the average marks of each semester are close to each other

In [9]:
# now checking other way
# 1 sem avg marks
print ('1st sem avg marks : ' , np.ceil (df['Total_Marks'] [df['Semester'] == 1] .mean()))
# 2 sem avg marks
print ('2nd sem avg marks : ' , np.ceil (df['Total_Marks'] [df['Semester'] == 2] .mean()))
# 3 sem avg marks
print ('3st sem avg marks : ' , np.ceil (df['Total_Marks'] [df['Semester'] == 3] .mean()))

1st sem avg marks :  403.0
2nd sem avg marks :  393.0
3st sem avg marks :  406.0

<font face = "Verdana" size = "5"> Chi-Square Test

<font face = "Verdana" size = "3">This test most of the time used for,
• Goodness of fit to a distribution: The Chi-squared test can be used to determine whether your data obeys a known theoretical probability distribution

<img src="https://raw.githubusercontent.com/patilkundan/images/main/chi2.png"  width="450" height="450">
<img src="https://raw.githubusercontent.com/patilkundan/images/main/chi21.png"  width="450" height="450">
<img src="https://raw.githubusercontent.com/patilkundan/images/main/chi22.png"  width="450" height="450">

<font face = "Verdana" size = "3">Example - How much sales we can expect this week (let's say pizza business). According to salesman below are the details.<br>
<img src="https://raw.githubusercontent.com/patilkundan/images/main/eo.png"  width="450" height="450">

<font face = "Verdana" size = "3">Let's understand how to work on this situation.
We will do this hypothesis testing with a significance of 10% (0.1). ( This will be given or you can test according to business interest)

<img src="https://raw.githubusercontent.com/patilkundan/images/main/chi2f.png"  width="450" height="450">

In [10]:
expected = [25,28,21,30,45,58,57]
observed = [23,26,25,31,48,63,50]

In [12]:
chi_ind = [np.square (23-25)/25, # M
          np.square (26-28)/28,  #T
          np.square (25-21)/21,  #W
          np.square (31-30)/30,  #Th
          np.square (48-45)/45,  #F
          np.square (63-58)/58,  #S
          np.square (50-57)/57]  #Sun
print ('Our chi square test statistics score = ' , np.sum(chi_ind))

Our chi square test statistics score =  2.5887788436608763

<font face = "Verdana" size = "3"> Let's check Chi-Square distribution table

<font face = "Verdana" size = "3"> What is the Chi-Square Distribution Table?<br>
The Chi-Square distribution table is a table that<mark> shows the critical values</mark> of the Chi-Square distribution. To use the Chi-Square distribution table, you only need
to know two values:<br>
<br>• The degrees of freedom for the Chi-Square test
<br>• The alpha level for the test (common choices are 0.01, 0.05, and 0.10) .. Means how much error i am allowing to do

<font face = "Verdana" size = "3"><b>Degrees of Freedom </b>- Which means you are allowed to choose/vary the data at certain extent, means freedom is given to vary the data.<br>
Example- (N-1). Here N is total events. i.e (7 - 1) = 6<br>
    Here events is day

<font face = "Verdana" size = "3"><b>DF = 6 and significance level = 0.10<br></b>
<br>AND our test score = 2.58
    
 <font face = "Verdana" size = "3">   
<br>Let's check the critical score where DF and significance level converge

<img src="https://raw.githubusercontent.com/patilkundan/images/main/chi_square_table_small.jpg"  width="550" height="250">
<img src="https://raw.githubusercontent.com/patilkundan/images/main/cht.png"  width="550" height="250">

<img src="https://raw.githubusercontent.com/patilkundan/images/main/cns.png"  width="750" height="450">

<font face = "Verdana" size = "3"> Some are use full links are given below to clear doubt on above topics  
- https://youtu.be/WUjsSB7E-ko  
- https://youtu.be/x_gHAly3mJo?si=Uw80AEhKjNYw99ZD
- https://youtu.be/heStI3wbkks